/* Page Icons (Page specific only)
******************************************************************************* */

@import "../_bootstrap-extended/include";

#icons-container {
  .icon-card {
    inline-size: 128px;

    .icon-base {
      @include icon-base(2rem);
    }
  }
}

@media (width <= 1024px) {
  #icons-container {
    .icon-card {
      flex: 1 1 auto;
      inline-size: 126px;
    }
  }
}

@include media-breakpoint-down(md) {
  #icons-container {
    .icon-card {
      inline-size: 131px;
    }
  }
}

@media (width <= 414px) {
  #icons-container {
    .icon-card {
      inline-size: 110px;
    }
  }
}

@media (width <= 375px) {
  #icons-container {
    .icon-card {
      inline-size: 150px;
    }
  }
}
